<style>

html {}
@font-face { font-family: SFProText; src: url('SF-Pro-Text-Regular.otf'); }
@font-face { font-family: Shadower; font-weight: bold; src: url('Shadower.woff');}
@font-face { font-family: SFCompactText; src: url('SFCompactText-Regular.otf'); }
@font-face { font-family: SFCompactText; font-weight: semibold; src: url('SFCompactText-Semibold.otf');}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 45px;
    max-width: 780px;
  }
 
.textblock {
  flex-grow: 3;
  dlex-shrink: 3;
  margin-right: 40px;
  max-width: 575px;
}

.textblock2 {
  flex-grow: 1;
  dlex-shrink: 1;
  margin-right: 40px;
  max-width: 165px;
}
  

body {
    min-height: 100vh;
    background-color: rgba(255, 254, 251, 1); 
    margin: auto;
    
    font-family: SFProText, sans-serif;
    font-size: 15px;
    line-height: 23px;
}

h3 {
  font-family: Shadower,
     serif;
  font-weight: bold;
  font-size: 22px;
    line-height: 26px;
  margin: 0 0 .1em 0;
}
​
p {
  
  margin: 0 0 .88em 0;
}

h4 {
  font-family: SFCompactText,
     sans-serif;
  font-weight: bold;
  font-size: 15px;
    line-height: 20px;
  margin: 0 0 4px 0;
}

p2 {
  font-family: SFCompactText,
     sans-serif;
  font-size: 12px;
    line-height: 15px;
  margin: 0 0 4px 0;
}

p3 {
  font-family: SFCompactText,
     sans-serif;
  font-size: 10px;
    line-height: 13px;
  margin: 0 0 4px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 2em;
}
</style>